{{>header}}

{{#each errors}}
<div class="row">
  <div class="col-sm-6 mx-auto">
<div class="alert alert-danger text-center ">{{this}}</div>
</div>
</div>
{{else}}

{{/each}}


<div class="row">
  <div class="col-sm-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Account Register</h3>
      <form action="/video-idea/v1/signup" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name"required>
        </div>
        <div class="form-group">
          <label for="gmail">Gmail</label>
          <input type="gmail" class="form-control" name="gmail" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<p class="text-center">If u already have an account Login please <a href="/video-idea/v1/login">Login</a></p>






{{>footer}}
